<div class="container">
    <div class="row">
        <h3>{{nomeCategoria}}</h3>
        <div class="col-12 border border-3 p-3 d-flex flex-wrap justify-content-around">
            <div class="prodottiProva border p-3 m-2"></div>
            <div class="prodottiProva border p-3 m-2"></div>
            <div class="prodottiProva border p-3 m-2"></div>
            <div class="prodottiProva border p-3 m-2"></div>
            <div class="prodottiProva border p-3 m-2"></div>
            <div class="prodottiProva border p-3 m-2"></div>
            <div class="prodottiProva border p-3 m-2"></div>
        </div>
    </div>
</div>