    <form [formGroup]="anagraficaForm" (ngSubmit)="onSubmit()"> 
        <label for="nome">Nome:</label>
        <input formControlName="nome" id="nome">
        
        
        <label for="cognome">Cognome:</label>
        <input formControlName="cognome" id="cognome">
        
        
        <label for="dataDiNascita">dataDiNascita:</label>
        <input formControlName="dataDiNascita" id="dataDiNascita">
        
        
        <label for="luogoDiNascita">luogoDiNascita:</label>
        <input formControlName="luogoDiNascita" id="luogoDiNascita">
        
        
        <label for="codiceFiscale">codiceFiscale:</label>
        <input formControlName="codiceFiscale" id="codiceFiscale">
    </form>