<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <span> </span>
            <li class="nav-item active">
                <a class="nav-link text-light" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/negozio/listaCategorie">Negozio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/contatti">Contatti</a>
            </li>
        </ul>
        <div ngbDropdown style="position: absolute; right: 0; top: 50%; transform: translateY(-50%); z-index: 100;">
            <button type="button" class="btn accountIcon" id="dropdownBasic1" style="color: #ffffff00;"
                ngbDropdownToggle>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="transform: translateX(-100%); z-index: 100;">
                <button ngbDropdownItem routerLink="/carrello">Carrello</button>
                <button ngbDropdownItem routerLink="/ordini">Ordini</button>
                <button ngbDropdownItem routerLink="/supporto">Supporto</button>
            </div>
        </div>
    </div>
</nav>